* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh; }

.yoda {
  width: 300px;
  height: 300px;
  position: absolute; }
  .yoda__ears {
    width: 500px;
    height: 130px;
    background: linear-gradient(to bottom, #75934e 0%, #75934e 50%, #616640 50%, #616640 100%);
    clip-path: polygon(35% 0, 65% 0, 100% 50%, 65% 98%, 35% 100%, 0 50%);
    transform: translateX(-100px);
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 0; }
  .yoda__head {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(-240deg, #75934e 0%, #75934e 50%, #678245 50%, #678245 100%);
    position: absolute;
    z-index: 2000; }

.chewbacca {
  width: 300px;
  height: 300px;
  position: absolute;
  transform: translateY(-40px); }
  .chewbacca__nose {
    width: 40px;
    height: 40px;
    clip-path: polygon(50% 0, 100% 75%, 50% 100%, 0 75%);
    background-color: #000;
    background: linear-gradient(to left, #000 0%, #000 50%, #1e1e1e 50%, #1e1e1e 100%);
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%); }
  .chewbacca__smallfury {
    width: 180px;
    height: 180px;
    background: linear-gradient(to top left, #d4ab72 0%, #d4ab72 50%, #d0a465 50%, #d0a465 100%);
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    bottom: -25px;
    left: 60px;
    transform: rotate(135deg); }
  .chewbacca__fury {
    width: 300px;
    height: 300px;
    background: linear-gradient(to top left, #b17a30 0%, #b17a30 50%, #765424 50%, #765424 100%);
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0; }
    .chewbacca__fury--1 {
      transform: rotate(105deg); }
    .chewbacca__fury--2 {
      transform: rotate(95deg); }
    .chewbacca__fury--3 {
      transform: rotate(175deg); }
    .chewbacca__fury--4 {
      transform: rotate(155deg); }
    .chewbacca__fury--5 {
      transform: rotate(115deg); }
    .chewbacca__fury--6 {
      transform: rotate(135deg);
      background: linear-gradient(to top left, #b17a30 0%, #b17a30 50%, #b17a30 50%, #b17a30 100%); }

.bobaFett {
  position: absolute; }
  .bobaFett .radio {
    position: relative; }
    .bobaFett .radio__top {
      display: block;
      width: 50px;
      height: 25px;
      position: absolute;
      background-color: #0f0f0f;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      left: -25px;
      top: -20px; }
    .bobaFett .radio__cable {
      display: block;
      width: 8px;
      height: 150px;
      position: absolute;
      background-color: #ededed;
      z-index: -2;
      left: -10px;
      top: -20px; }
    .bobaFett .radio__base {
      display: block;
      width: 100px;
      height: 75px;
      background-color: #f3c623;
      position: absolute;
      z-index: -1;
      top: 80px;
      left: -25px; }
  .bobaFett .mask {
    display: block;
    width: 300px;
    height: 330px;
    background: linear-gradient(to right, #477765 50%, #3b5249 50%, #3b5249 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 65% 100%, 35% 100%, 0 85%);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    overflow: hidden;
    position: relative; }
    .bobaFett .mask .eyes {
      position: relative; }
      .bobaFett .mask .eyes__in {
        display: block;
        width: 270px;
        height: 255px;
        background: #3100009e;
        clip-path: polygon(0 0, 100% 0, 58% 15%, 58% 100%, 42% 100%, 42% 15%);
        position: absolute;
        top: 110px;
        left: 15px;
        z-index: 1; }
      .bobaFett .mask .eyes__out {
        display: block;
        width: 300px;
        height: 255px;
        background: linear-gradient(to right, #8f1515 50%, #5b0b0b 50%, #5b0b0b 100%);
        position: absolute;
        top: 75px; }
    .bobaFett .mask .cheek__left {
      display: block;
      width: 175px;
      position: absolute;
      height: 270px;
      bottom: -75px;
      background-color: #477765;
      left: -75px;
      border-top-right-radius: 70%; }
    .bobaFett .mask .cheek__right {
      display: block;
      width: 175px;
      position: absolute;
      height: 270px;
      bottom: -75px;
      background-color: #3b5249;
      right: -75px;
      border-top-left-radius: 70%; }

.luke {
  position: absolute; }
  .luke .head {
    display: block;
    width: 300px;
    height: 330px;
    background: linear-gradient(to right, #ffdbac 40%, #d9bc96 40%);
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%; }
  .luke .hair {
    position: absolute; }
    .luke .hair__front {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 350px;
      height: 300px;
      transform: translate(-25px, -80px);
      overflow: hidden;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%; }
      .luke .hair__front--left {
        position: absolute;
        width: 325px;
        transform: rotate(-30deg) translate(-95px, -75px);
        border-radius: 60%;
        height: 200px;
        background-color: #ac8450; }
      .luke .hair__front--right {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 300px;
        height: 220px;
        border-radius: 60%;
        transform: rotate(50deg) translate(50px, -76px);
        background-color: #ac8450; }
    .luke .hair__back {
      position: absolute;
      top: 160px;
      left: 0;
      display: block;
      width: 350px;
      height: 175px;
      transform: translate(-25px, -80px);
      border-bottom-left-radius: 80%;
      border-bottom-right-radius: 80%;
      background-color: #9b7441;
      z-index: -1; }
    .luke .hair__spike {
      border-radius: 50%;
      position: absolute; }
      .luke .hair__spike--1 {
        display: block;
        width: 180px;
        height: 180px;
        left: -165px;
        bottom: -210px;
        transform: rotate(-85deg);
        background-color: #9b7441;
        z-index: -1; }
        .luke .hair__spike--1::before {
          content: '';
          display: block;
          width: 270px;
          height: 165px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--2 {
        display: block;
        width: 180px;
        height: 180px;
        left: -165px;
        bottom: -273px;
        transform: rotate(-115deg);
        background-color: #9b7441;
        z-index: -2; }
        .luke .hair__spike--2::before {
          content: '';
          display: block;
          width: 500px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--3 {
        display: block;
        width: 180px;
        height: 180px;
        left: -140px;
        bottom: -295px;
        transform: rotate(-120deg);
        background-color: #9b7441;
        z-index: -3; }
        .luke .hair__spike--3::before {
          content: '';
          display: block;
          width: 500px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--4 {
        display: block;
        position: absolute;
        width: 180px;
        height: 200px;
        right: -455px;
        bottom: -210px;
        transform: rotate(50deg);
        background-color: #9b7441;
        z-index: -4; }
        .luke .hair__spike--4::before {
          content: '';
          display: block;
          width: 240px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--5 {
        display: block;
        position: absolute;
        width: 180px;
        height: 200px;
        right: -455px;
        bottom: -260px;
        transform: rotate(72deg);
        background-color: #9b7441;
        z-index: -5; }
        .luke .hair__spike--5::before {
          content: '';
          display: block;
          width: 240px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }

.background {
  display: flex;
  justify-content: center;
  align-items: center; }
  .background__yoda {
    background-color: linen; }
  .background__chewbacca {
    background-color: #319830; }
  .background__bobaFett {
    background-color: #323232; }
  .background__luke {
    background-color: #07689f; }

.infos {
  margin: 40px;
  align-self: flex-end; }
  .infos .text {
    font-family: 'Indie Flower', cursive;
    font-size: 20px; }
    .infos .text i {
      color: red; }
  .infos .socials ul {
    list-style: none;
    display: flex;
    justify-content: center; }
    .infos .socials ul li {
      margin: 5px; }
      .infos .socials ul li i {
        font-size: 20px;
        color: #2c2c2c; }
  .infos .socials--light ul li i {
    color: #fff !important; }
  .infos--light {
    color: #fff !important; }
