* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh; }

.yoda {
  width: 300px;
  height: 300px;
  position: absolute; }
  .yoda__ears {
    width: 500px;
    height: 130px;
    background: linear-gradient(to bottom, #75934e 0%, #75934e 50%, #616640 50%, #616640 100%);
    clip-path: polygon(35% 0, 65% 0, 100% 50%, 65% 98%, 35% 100%, 0 50%);
    transform: translateX(-100px);
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 0; }
  .yoda__head {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(-240deg, #75934e 0%, #75934e 50%, #678245 50%, #678245 100%);
    position: absolute;
    z-index: 2000; }

.chewbacca {
  width: 300px;
  height: 300px;
  position: absolute;
  transform: translateY(-40px); }
  .chewbacca__nose {
    width: 40px;
    height: 40px;
    clip-path: polygon(50% 0, 100% 75%, 50% 100%, 0 75%);
    background-color: #000;
    background: linear-gradient(to left, #000 0%, #000 50%, #1e1e1e 50%, #1e1e1e 100%);
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%); }
  .chewbacca__smallfury {
    width: 180px;
    height: 180px;
    background: linear-gradient(to top left, #d4ab72 0%, #d4ab72 50%, #d0a465 50%, #d0a465 100%);
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    bottom: -25px;
    left: 60px;
    transform: rotate(135deg); }
  .chewbacca__fury {
    width: 300px;
    height: 300px;
    background: linear-gradient(to top left, #b17a30 0%, #b17a30 50%, #765424 50%, #765424 100%);
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0; }
    .chewbacca__fury--1 {
      transform: rotate(105deg); }
    .chewbacca__fury--2 {
      transform: rotate(95deg); }
    .chewbacca__fury--3 {
      transform: rotate(175deg); }
    .chewbacca__fury--4 {
      transform: rotate(155deg); }
    .chewbacca__fury--5 {
      transform: rotate(115deg); }
    .chewbacca__fury--6 {
      transform: rotate(135deg);
      background: linear-gradient(to top left, #b17a30 0%, #b17a30 50%, #b17a30 50%, #b17a30 100%); }

.bobaFett {
  position: absolute; }
  .bobaFett .radio {
    position: relative; }
    .bobaFett .radio__top {
      display: block;
      width: 50px;
      height: 25px;
      position: absolute;
      background-color: #0f0f0f;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      left: -25px;
      top: -20px; }
    .bobaFett .radio__cable {
      display: block;
      width: 8px;
      height: 150px;
      position: absolute;
      background-color: #ededed;
      z-index: -2;
      left: -10px;
      top: -20px; }
    .bobaFett .radio__base {
      display: block;
      width: 100px;
      height: 75px;
      background-color: #f3c623;
      position: absolute;
      z-index: -1;
      top: 80px;
      left: -25px; }
  .bobaFett .mask {
    display: block;
    width: 300px;
    height: 330px;
    background: linear-gradient(to right, #477765 50%, #3b5249 50%, #3b5249 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 65% 100%, 35% 100%, 0 85%);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    overflow: hidden;
    position: relative; }
    .bobaFett .mask .eyes {
      position: relative; }
      .bobaFett .mask .eyes__in {
        display: block;
        width: 270px;
        height: 255px;
        background: #3100009e;
        clip-path: polygon(0 0, 100% 0, 58% 15%, 58% 100%, 42% 100%, 42% 15%);
        position: absolute;
        top: 110px;
        left: 15px;
        z-index: 1; }
      .bobaFett .mask .eyes__out {
        display: block;
        width: 300px;
        height: 255px;
        background: linear-gradient(to right, #8f1515 50%, #5b0b0b 50%, #5b0b0b 100%);
        position: absolute;
        top: 75px; }
    .bobaFett .mask .cheek__left {
      display: block;
      width: 175px;
      position: absolute;
      height: 270px;
      bottom: -75px;
      background-color: #477765;
      left: -75px;
      border-top-right-radius: 70%; }
    .bobaFett .mask .cheek__right {
      display: block;
      width: 175px;
      position: absolute;
      height: 270px;
      bottom: -75px;
      background-color: #3b5249;
      right: -75px;
      border-top-left-radius: 70%; }

.luke {
  position: absolute; }
  .luke .head {
    display: block;
    width: 300px;
    height: 330px;
    background: linear-gradient(to right, #ffdbac 40%, #d9bc96 40%);
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%; }
  .luke .hair {
    position: absolute; }
    .luke .hair__front {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 350px;
      height: 300px;
      transform: translate(-25px, -80px);
      overflow: hidden;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%; }
      .luke .hair__front--left {
        position: absolute;
        width: 325px;
        transform: rotate(-30deg) translate(-95px, -75px);
        border-radius: 60%;
        height: 200px;
        background-color: #ac8450; }
      .luke .hair__front--right {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 300px;
        height: 220px;
        border-radius: 60%;
        transform: rotate(50deg) translate(50px, -76px);
        background-color: #ac8450; }
    .luke .hair__back {
      position: absolute;
      top: 160px;
      left: 0;
      display: block;
      width: 350px;
      height: 175px;
      transform: translate(-25px, -80px);
      border-bottom-left-radius: 80%;
      border-bottom-right-radius: 80%;
      background-color: #9b7441;
      z-index: -1; }
    .luke .hair__spike {
      border-radius: 50%;
      position: absolute; }
      .luke .hair__spike--1 {
        display: block;
        width: 180px;
        height: 180px;
        left: -165px;
        bottom: -210px;
        transform: rotate(-85deg);
        background-color: #9b7441;
        z-index: -1; }
        .luke .hair__spike--1::before {
          content: '';
          display: block;
          width: 270px;
          height: 165px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--2 {
        display: block;
        width: 180px;
        height: 180px;
        left: -165px;
        bottom: -273px;
        transform: rotate(-115deg);
        background-color: #9b7441;
        z-index: -2; }
        .luke .hair__spike--2::before {
          content: '';
          display: block;
          width: 500px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--3 {
        display: block;
        width: 180px;
        height: 180px;
        left: -140px;
        bottom: -295px;
        transform: rotate(-120deg);
        background-color: #9b7441;
        z-index: -3; }
        .luke .hair__spike--3::before {
          content: '';
          display: block;
          width: 500px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--4 {
        display: block;
        position: absolute;
        width: 180px;
        height: 200px;
        right: -455px;
        bottom: -210px;
        transform: rotate(50deg);
        background-color: #9b7441;
        z-index: -4; }
        .luke .hair__spike--4::before {
          content: '';
          display: block;
          width: 240px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }
      .luke .hair__spike--5 {
        display: block;
        position: absolute;
        width: 180px;
        height: 200px;
        right: -455px;
        bottom: -260px;
        transform: rotate(72deg);
        background-color: #9b7441;
        z-index: -5; }
        .luke .hair__spike--5::before {
          content: '';
          display: block;
          width: 240px;
          height: 180px;
          background-color: #07689f;
          border-radius: 50%;
          transform: translate(-15px, -20px); }

.palpatine {
  width: 300px;
  height: 350px;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  overflow: hidden; }
  .palpatine .hood {
    width: 300px;
    height: 600px;
    border-radius: 50%;
    background: linear-gradient(to right, #343840 50%, #262a30 50%);
    position: relative; }
    .palpatine .hood .backface {
      width: 190px;
      height: 250px;
      top: 110px;
      position: absolute;
      border-radius: 30%;
      left: 50%;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
      transform: translateX(-50%);
      overflow: hidden;
      background-color: #0d0d0d; }
      .palpatine .hood .backface .wavy {
        width: 62px;
        height: 175px;
        position: absolute;
        border-radius: 55%;
        top: 55px; }
        .palpatine .hood .backface .wavy--left {
          left: -50px;
          background-color: #343840; }
        .palpatine .hood .backface .wavy--right {
          right: -50px;
          background-color: #262a30; }
      .palpatine .hood .backface .mask {
        width: 145px;
        height: 300px;
        position: absolute;
        background: linear-gradient(to right, #e0e0e0 50%, #c9c9c9 50%);
        left: 50%;
        top: -65%;
        transform: translateX(-50%);
        border-radius: 55%; }
        .palpatine .hood .backface .mask--shadow {
          width: 130px;
          height: 30px;
          position: absolute;
          left: 50%;
          top: 51%;
          border-radius: 50%;
          transform: translateX(-50%);
          background: linear-gradient(to right, #bebebe 50%, #858585 50%); }

.C3PO {
  position: absolute; }
  .C3PO .antenna {
    display: block;
    width: 20px;
    height: 50px;
    background: linear-gradient(to right, #ffefa0 50%, #ffd57e 50%, #ffd57e 100%);
    position: absolute;
    left: 50%;
    top: -18px;
    transform: translateX(-50%);
    border-radius: 50px; }
  .C3PO .ear {
    display: block;
    width: 20px;
    height: 60px;
    background: linear-gradient(to right, #ffefa0 50%, #ffd57e 50%, #ffd57e 100%);
    border-radius: 15px;
    position: absolute;
    top: 50%; }
    .C3PO .ear__left {
      transform: rotate(-5deg) translateX(9px);
      left: 0%; }
    .C3PO .ear__right {
      transform: rotate(6deg) translateX(-9px);
      right: 0%; }
  .C3PO .backface {
    width: 320px;
    height: 350px;
    background: linear-gradient(to right, #ffefa0 50%, #ffd57e 50%, #ffd57e 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 50% 100%, 10% 100%);
    border-top-left-radius: 205px;
    border-top-right-radius: 205px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .C3PO .backface .frontface {
      width: 275px;
      height: 330px;
      background: linear-gradient(to right, #fcf876 50%, #ffe05d 50%, #ffe05d 100%);
      clip-path: polygon(0 0, 100% 0, 95% 90%, 50% 100%, 5% 90%);
      border-top-left-radius: 205px;
      border-top-right-radius: 205px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .C3PO .backface .frontface .eyes {
        width: 65%;
        display: flex;
        justify-content: space-between; }
        .C3PO .backface .frontface .eyes .eye--background {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #a2792f;
          transform: translate(-25px, -25px);
          z-index: -1;
          opacity: .2;
          position: absolute; }
        .C3PO .backface .frontface .eyes .eye--ball {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: linear-gradient(to bottom right, #a2792f 50%, #935900 50%, #935900 100%);
          display: flex;
          justify-content: space-evenly;
          overflow: hidden; }
          .C3PO .backface .frontface .eyes .eye--ball-bars {
            width: 3px;
            height: 50px;
            background: #a2792f;
            opacity: .6; }
            .C3PO .backface .frontface .eyes .eye--ball-bars--left {
              background: #fcf876; }
            .C3PO .backface .frontface .eyes .eye--ball-bars--right {
              background: #ffe05d; }
      .C3PO .backface .frontface .mounth {
        width: 60px;
        height: 15px;
        background: linear-gradient(to right, #a2792f 50%, #935900 50%, #935900 100%);
        transform: translateY(45px); }

.hanSolo {
  position: absolute; }
  .hanSolo .head__back {
    display: block;
    width: 300px;
    height: 330px;
    background: linear-gradient(to right, #f9b384 35%, #e9c083 35%);
    clip-path: ellipse(45% 50% at 50% 50%); }
  .hanSolo .head__front {
    display: block;
    width: 270px;
    height: 260px;
    background: linear-gradient(to right, #f9b384 35%, #e9c083 35%);
    clip-path: ellipse(45% 50% at 50% 50%);
    transform: translateX(-50%);
    z-index: 5;
    position: absolute;
    left: 49%;
    top: 30px; }
  .hanSolo .backhair {
    display: block;
    width: 310px;
    height: 220px;
    background: #42240c;
    border-radius: 50px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15px) rotate(-5deg); }
  .hanSolo .upperhairleft {
    width: 140px;
    height: 240px;
    background: #42240c;
    border-radius: 20px;
    border-top-left-radius: 130px;
    transform: rotate(-5deg);
    position: absolute;
    top: -60px; }
  .hanSolo .upperhairright {
    width: 180px;
    height: 240px;
    background: #42240c;
    border-radius: 20px;
    border-top-right-radius: 130px;
    transform: rotate(10deg);
    position: absolute;
    top: -80px;
    right: 2px; }
  .hanSolo .smallhair {
    width: 80px;
    height: 80px;
    background: #42240c;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 51% 0, 52% 46%, 17% 100%, 26% 46%);
    position: absolute; }
  .hanSolo .smallhair1 {
    top: 0%;
    left: 25%;
    z-index: 5; }
  .hanSolo .smallhair2 {
    top: -5%;
    left: 30%;
    z-index: 5;
    transform: rotate(-20deg); }

.background {
  display: flex;
  justify-content: center;
  align-items: center; }
  .background__yoda {
    background-color: linen; }
  .background__chewbacca {
    background-color: #319830; }
  .background__bobaFett {
    background-color: #323232; }
  .background__luke {
    background-color: #07689f; }
  .background__palpatine {
    background-color: #755da8; }
  .background__C3PO {
    background-color: #ffacb7; }
  .background__hanSolo {
    background-color: #0f3057; }

.infos {
  margin: 40px;
  align-self: flex-end; }
  .infos .text {
    font-family: 'Indie Flower', cursive;
    font-size: 20px; }
    .infos .text i {
      color: red; }
  .infos .socials ul {
    list-style: none;
    display: flex;
    justify-content: center; }
    .infos .socials ul li {
      margin: 5px; }
      .infos .socials ul li i {
        font-size: 20px;
        color: #2c2c2c; }
  .infos .socials--light ul li i {
    color: #fff !important; }
  .infos--light {
    color: #fff !important; }
