* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

@import "../sass/characters/_yoda.scss";
@import "../sass/characters/_chewbacca.scss";
@import "../sass/characters/_bobaFett.scss";


@import "../sass/components/backgrounds";
@import "../sass/components/infos";