$bg-R2D2: #ff6219dc;
$R2D2-black: #222222;
$R2D2-dark-black: #000000;
$R2D2-white: #f7f7f7;
$R2D2-dark-white: #e6e6e6;
$R2D2-blue: rgb(35, 157, 228);
$R2D2-dark-blue: rgb(30, 123, 177);
$R2D2-red: rgb(214, 35, 35);



$R2D2-dark-red: rgb(182, 17, 17);

.R2D2 {
    position: absolute;

    .top {
        height: 240px;
        overflow: hidden;

        .circle {
            display: block;
            width: 480px;
            height: 480px;
            background: linear-gradient(to right, $R2D2-white 50%, $R2D2-dark-white 50%, $R2D2-dark-white 100%);
            clip-path: circle(50% at 50% 50%);
    
            position: relative;
    
            .eye {
                display: block;
                width: 110px;
                height: 110px;
                background: linear-gradient(to right, $R2D2-black 50%, $R2D2-dark-black 50%, $R2D2-dark-black 100%);
                border-radius: 50%;
    
                position: absolute;
                left: 50%;
                top: 2%;
                transform: translateX(-50%) rotate(45deg);
    
                z-index: 5;
            }
    
            .backEye {
                display: block;
                width: 180px;
                height: 150px;
                border-radius: 20px;
                background: linear-gradient(to right, $R2D2-blue 50%, $R2D2-dark-blue 50%, $R2D2-dark-blue 100%);
    
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
    
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
    
            .rectans {
                width: 100%;
                display: block;
                padding: 0 15px;

                position: absolute;
                top: 40%;

                display: flex;
                justify-content: space-between;

                .rectan {
                    width: 70px;
                    height: 30px;
                    border-radius: 12px;

                    position: relative;

                    &:nth-child(1),
                    &:nth-child(2) {
                        background: $R2D2-blue;
                    }

                    &:nth-child(3) {
                        background: linear-gradient(to right, $R2D2-blue 50%, $R2D2-dark-blue 50%, $R2D2-dark-blue 100%);
                    }

                    &:nth-child(4),
                    &:nth-child(5) {
                        background: $R2D2-dark-blue;
                    }

                    .dot {
                        width: 20px;
                        height: 20px;
                        background: $R2D2-red;
                        border-radius: 50%;
                        background: linear-gradient(to right, $R2D2-red 50%, $R2D2-dark-red 50%, $R2D2-dark-red 100%);
                        transform: rotate(45deg);
                        position: absolute;
                        right: 10px;
                        top: 4px;
                    }
                }
            }
        }
        
    }

    .base {
        display: block;
        width: 480px;
        height: 50px;
        background: linear-gradient(to right, $R2D2-white 50%, $R2D2-dark-white 50%, $R2D2-dark-white 100%);
        
        .upperLine {
            width: 100%;
            height: 50%;
            background: linear-gradient(to right, $R2D2-blue 50%, $R2D2-dark-blue 50%, $R2D2-dark-blue 100%);
        }

        .lowerLine {
            width: 100%;
            height: 50%;
            background: linear-gradient(to right, $R2D2-white 50%, $R2D2-dark-white 50%, $R2D2-dark-white 100%);
        }
    }
}